-- Create the MLD schema for Velora Palace

-- Disable RLS for initialization (Optional if dealing with existing data)
-- Use UUIDs for IDs as it perfectly integrates with auth.users in Supabase

-- 1. Utilisateur (Base Users)
CREATE TABLE IF NOT EXISTS utilisateurs (
    id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
    nom_utilisateur TEXT NOT NULL,
    prenom TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    mot_de_passe TEXT NOT NULL,
    telephone TEXT,
    date_creation TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    dernier_login TIMESTAMP WITH TIME ZONE,
    role TEXT CHECK (role IN ('client', 'personnel', 'admin')) DEFAULT 'client'
);
ALTER TABLE utilisateurs ENABLE ROW LEVEL SECURITY;

-- 2. Client
CREATE TABLE IF NOT EXISTS clients (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    adresse_facturation TEXT,
    adresse_livraison TEXT,
    date_naissance DATE,
    nationalite TEXT,
    document_identite TEXT,
    points_fidelite INTEGER DEFAULT 0,
    utilisateur_id UUID REFERENCES utilisateurs(id) ON DELETE CASCADE UNIQUE
);
ALTER TABLE clients ENABLE ROW LEVEL SECURITY;

-- 3. Personnel
CREATE TABLE IF NOT EXISTS personnel (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    matricule TEXT UNIQUE NOT NULL,
    poste TEXT NOT NULL,
    service TEXT NOT NULL,
    date_embauche DATE NOT NULL,
    departement TEXT,
    est_disponible BOOLEAN DEFAULT TRUE,
    horaires_travail JSONB,
    utilisateur_id UUID REFERENCES utilisateurs(id) ON DELETE CASCADE UNIQUE
);
ALTER TABLE personnel ENABLE ROW LEVEL SECURITY;

-- 4. Admin
CREATE TABLE IF NOT EXISTS admins (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    niveau_acces INTEGER NOT NULL,
    permissions_admin JSONB,
    date_nomination DATE NOT NULL,
    utilisateur_id UUID REFERENCES utilisateurs(id) ON DELETE CASCADE UNIQUE
);
ALTER TABLE admins ENABLE ROW LEVEL SECURITY;

-- 5. Chambre
CREATE TABLE IF NOT EXISTS chambres (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    numero_chambre TEXT UNIQUE NOT NULL,
    type_chambre TEXT NOT NULL,
    prix_base_nuit NUMERIC(10, 2) NOT NULL,
    capacite_adultes INTEGER NOT NULL DEFAULT 2,
    capacite_enfants INTEGER NOT NULL DEFAULT 0,
    etage INTEGER,
    vue TEXT,
    superficie_m2 INTEGER,
    equipements JSONB,
    statut TEXT DEFAULT 'disponible',
    image_urls TEXT[]
);
ALTER TABLE chambres ENABLE ROW LEVEL SECURITY;

-- 6. ReservationChambre
CREATE TABLE IF NOT EXISTS reservations_chambres (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    reference_reservation TEXT UNIQUE NOT NULL,
    date_arrivee DATE NOT NULL,
    date_depart DATE NOT NULL,
    nombre_adultes INTEGER NOT NULL DEFAULT 1,
    nombre_enfants INTEGER NOT NULL DEFAULT 0,
    prix_nuit NUMERIC(10, 2) NOT NULL,
    statut TEXT DEFAULT 'en_attente',
    methode_paiement TEXT,
    date_reservation TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    heure_arrivee_prevue TIME,
    client_id UUID REFERENCES clients(id) ON DELETE RESTRICT,
    chambre_id UUID REFERENCES chambres(id) ON DELETE RESTRICT,
    personnel_id UUID REFERENCES personnel(id) ON DELETE SET NULL
);
ALTER TABLE reservations_chambres ENABLE ROW LEVEL SECURITY;

-- 7. Restaurant
CREATE TABLE IF NOT EXISTS restaurants (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    nom TEXT NOT NULL,
    description TEXT,
    type_cuisine TEXT,
    capacite_totale INTEGER,
    nombre_tables INTEGER,
    horaires_ouverture JSONB,
    services JSONB,
    image_urls TEXT[]
);
ALTER TABLE restaurants ENABLE ROW LEVEL SECURITY;

-- 8. TableRestaurant
CREATE TABLE IF NOT EXISTS tables_restaurant (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    numero_table TEXT NOT NULL,
    capacite INTEGER NOT NULL,
    restaurant_id UUID REFERENCES restaurants(id) ON DELETE CASCADE
);
ALTER TABLE tables_restaurant ENABLE ROW LEVEL SECURITY;

-- 9. ReservationTable
CREATE TABLE IF NOT EXISTS reservations_tables (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    date_reservation DATE NOT NULL,
    heure_reservation TIME NOT NULL,
    nombre_adultes INTEGER NOT NULL DEFAULT 1,
    nombre_enfants INTEGER NOT NULL DEFAULT 0,
    table_interieur BOOLEAN DEFAULT TRUE,
    table_terrasse BOOLEAN DEFAULT FALSE,
    client_id UUID REFERENCES clients(id) ON DELETE RESTRICT,
    table_id UUID REFERENCES tables_restaurant(id) ON DELETE RESTRICT,
    personnel_id UUID REFERENCES personnel(id) ON DELETE SET NULL
);
ALTER TABLE reservations_tables ENABLE ROW LEVEL SECURITY;

-- 10. Menu
CREATE TABLE IF NOT EXISTS menus (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    nom_plat TEXT NOT NULL,
    categorie TEXT NOT NULL,
    description TEXT,
    prix NUMERIC(10, 2) NOT NULL,
    image_url TEXT,
    recommande_par_chef BOOLEAN DEFAULT FALSE,
    restaurant_id UUID REFERENCES restaurants(id) ON DELETE CASCADE
);
ALTER TABLE menus ENABLE ROW LEVEL SECURITY;

-- 11. CommandeRestaurant
CREATE TABLE IF NOT EXISTS commandes_restaurant (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    reference_commande TEXT UNIQUE NOT NULL,
    type_commande TEXT NOT NULL,
    montant_articles NUMERIC(10, 2) NOT NULL,
    reduction_promotionnelle NUMERIC(10, 2) DEFAULT 0,
    heure_commande TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    heure_livraison_prevue TIMESTAMP WITH TIME ZONE,
    methode_paiement TEXT,
    allergies_client TEXT,
    notes_speciales TEXT,
    evaluation_service INTEGER CHECK (evaluation_service BETWEEN 1 AND 5),
    commentaires_evaluation TEXT,
    client_id UUID REFERENCES clients(id) ON DELETE RESTRICT,
    table_id UUID REFERENCES tables_restaurant(id) ON DELETE SET NULL,
    personnel_preparation UUID REFERENCES personnel(id) ON DELETE SET NULL,
    personnel_livraison UUID REFERENCES personnel(id) ON DELETE SET NULL
);
ALTER TABLE commandes_restaurant ENABLE ROW LEVEL SECURITY;

-- 12. Contient
CREATE TABLE IF NOT EXISTS contient (
    commande_id UUID REFERENCES commandes_restaurant(id) ON DELETE CASCADE,
    menu_id UUID REFERENCES menus(id) ON DELETE CASCADE,
    quantite INTEGER NOT NULL DEFAULT 1,
    PRIMARY KEY (commande_id, menu_id)
);

-- 13. Paiement
CREATE TABLE IF NOT EXISTS paiements (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    reference_transaction TEXT UNIQUE NOT NULL,
    montant NUMERIC(10, 2) NOT NULL,
    devise TEXT DEFAULT 'USD',
    methode_paiement TEXT NOT NULL,
    statut TEXT DEFAULT 'en_attente',
    date_paiement TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    donnees_securisees JSONB,
    reservation_chambre_id UUID REFERENCES reservations_chambres(id) ON DELETE SET NULL,
    commande_id UUID REFERENCES commandes_restaurant(id) ON DELETE SET NULL,
    CHECK (
        (reservation_chambre_id IS NOT NULL AND commande_id IS NULL) OR 
        (reservation_chambre_id IS NULL AND commande_id IS NOT NULL)
    )
);
ALTER TABLE paiements ENABLE ROW LEVEL SECURITY;

-- 14. Chatbot
CREATE TABLE IF NOT EXISTS chatbots (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    question TEXT NOT NULL,
    reponse TEXT NOT NULL,
    categorie TEXT,
    intention TEXT,
    client_id UUID REFERENCES clients(id) ON DELETE SET NULL
);
ALTER TABLE chatbots ENABLE ROW LEVEL SECURITY;

-- 15. Notification
CREATE TABLE IF NOT EXISTS notifications (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    type_notification TEXT NOT NULL,
    titre TEXT NOT NULL,
    message TEXT NOT NULL,
    statut TEXT DEFAULT 'non_lu',
    date_lecture TIMESTAMP WITH TIME ZONE,
    utilisateur_id UUID REFERENCES utilisateurs(id) ON DELETE CASCADE
);
ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;

-- 16. CritereRecherche
CREATE TABLE IF NOT EXISTS criteres_recherche (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    nombre_adultes INTEGER,
    nombre_enfants INTEGER,
    ages_enfants JSONB,
    acces_handicape BOOLEAN,
    vue_preferee TEXT,
    etage_prefere INTEGER,
    type_chambre_prefere TEXT,
    budget_maximum NUMERIC(10, 2),
    utilisateur_id UUID REFERENCES utilisateurs(id) ON DELETE CASCADE
);
ALTER TABLE criteres_recherche ENABLE ROW LEVEL SECURITY;
-- VELORA PALACE BACKEND LOGIC
-- Triggers, RLS Policies, and Helper Functions

-- 1. Create a function to handle new user signups
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
  INSERT INTO public.utilisateurs (id, email, nom_utilisateur, prenom, mot_de_passe, role)
  VALUES (
    NEW.id,
    NEW.email,
    COALESCE(NEW.raw_user_meta_data->>'last_name', 'User'),
    COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.raw_user_meta_data->>'first_name', 'Valued'),
    'SUPABASE_AUTH',
    'client'
  );
  
  -- Create client profile automatically
  INSERT INTO public.clients (utilisateur_id)
  VALUES (NEW.id);
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 2. Trigger for new user
CREATE OR REPLACE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- 3. RLS POLICIES

-- Utilisateurs: Users can read/update their own profile
CREATE POLICY "Users can view their own data" ON utilisateurs
  FOR SELECT USING (auth.uid() = id);

CREATE POLICY "Users can update their own data" ON utilisateurs
  FOR UPDATE USING (auth.uid() = id);

CREATE POLICY "Admins have full access to utilisateurs" ON utilisateurs
  FOR ALL USING (
    EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role = 'admin')
  );

-- Chambres: Everyone can view, only admins/personnel can modify
CREATE POLICY "Anyone can view chambres" ON chambres
  FOR SELECT USING (true);

CREATE POLICY "Admins/Personnel can modify chambres" ON chambres
  FOR ALL USING (
    EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
  );

-- Reservations: Clients view own, Admins/Personnel view all
CREATE POLICY "Clients can view own reservations" ON reservations_chambres
  FOR SELECT USING (
    EXISTS (SELECT 1 FROM clients WHERE id = reservations_chambres.client_id AND utilisateur_id = auth.uid())
  );

CREATE POLICY "Clients can create own reservations" ON reservations_chambres
  FOR INSERT WITH CHECK (
    EXISTS (SELECT 1 FROM clients WHERE id = client_id AND utilisateur_id = auth.uid())
  );

CREATE POLICY "Admins/Personnel can manage all reservations" ON reservations_chambres
  FOR ALL USING (
    EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
  );

-- Clients: Clients view own, Admins view all
CREATE POLICY "Clients view own client profile" ON clients
  FOR SELECT USING (utilisateur_id = auth.uid());

CREATE POLICY "Clients update own client profile" ON clients
  FOR UPDATE USING (utilisateur_id = auth.uid());

CREATE POLICY "Admins manage all client profiles" ON clients
  FOR ALL USING (
    EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role = 'admin')
  );

-- 4. Helper Function to check if Admin
CREATE OR REPLACE FUNCTION is_admin() 
RETURNS BOOLEAN AS $$
  SELECT EXISTS (
    SELECT 1 FROM utilisateurs 
    WHERE id = auth.uid() AND role = 'admin'
  );
$$ LANGUAGE sql SECURITY DEFINER;
-- POLICIES FOR RESTAURANTS AND MENUS

-- Restaurants: Everyone can view, only admins/personnel can modify
CREATE POLICY "Anyone can view restaurants" ON restaurants
  FOR SELECT USING (true);

CREATE POLICY "Admins and personnel can manage restaurants" ON restaurants
  FOR ALL USING (
    EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
  );

-- Menus: Everyone can view, only admins/personnel can modify
CREATE POLICY "Anyone can view menus" ON menus
  FOR SELECT USING (true);

CREATE POLICY "Admins and personnel can manage menus" ON menus
  FOR ALL USING (
    EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
  );
-- Profile Enhancements Migration
-- Add avatar_url to utilisateurs
ALTER TABLE utilisateurs ADD COLUMN IF NOT EXISTS avatar_url TEXT;

-- Add date_naissance, code_pays to clients (date_naissance already exists but code_pays doesn't)
ALTER TABLE clients ADD COLUMN IF NOT EXISTS code_pays TEXT DEFAULT '+213';
ALTER TABLE clients ADD COLUMN IF NOT EXISTS sexe TEXT CHECK (sexe IN ('homme', 'femme')) DEFAULT NULL;

-- Add telephone and nom_complet_reservation to reservations_chambres for booking record
ALTER TABLE reservations_chambres ADD COLUMN IF NOT EXISTS telephone_client TEXT;
ALTER TABLE reservations_chambres ADD COLUMN IF NOT EXISTS code_pays_client TEXT;
ALTER TABLE reservations_chambres ADD COLUMN IF NOT EXISTS nom_complet_client TEXT;
ALTER TABLE reservations_chambres ADD COLUMN IF NOT EXISTS date_naissance_client DATE;
ALTER TABLE reservations_chambres ADD COLUMN IF NOT EXISTS document_identite_client TEXT;

-- Allow clients to read their own data
CREATE POLICY IF NOT EXISTS "clients_read_own" ON clients
  FOR SELECT USING (utilisateur_id = auth.uid());

CREATE POLICY IF NOT EXISTS "clients_update_own" ON clients
  FOR UPDATE USING (utilisateur_id = auth.uid());

CREATE POLICY IF NOT EXISTS "clients_insert_own" ON clients
  FOR INSERT WITH CHECK (utilisateur_id = auth.uid());

-- Allow users to update their own avatar
CREATE POLICY IF NOT EXISTS "users_update_own" ON utilisateurs
  FOR UPDATE USING (id = auth.uid());

CREATE POLICY IF NOT EXISTS "users_read_own" ON utilisateurs
  FOR SELECT USING (id = auth.uid());

-- Allow all authenticated users to read reservations_chambres for their own bookings
CREATE POLICY IF NOT EXISTS "reservations_read_own" ON reservations_chambres
  FOR SELECT USING (
    client_id IN (SELECT id FROM clients WHERE utilisateur_id = auth.uid())
  );

-- Storage bucket for avatars (run this manually in Supabase dashboard if needed)
-- INSERT INTO storage.buckets (id, name, public) VALUES ('avatars', 'avatars', true)
-- ON CONFLICT DO NOTHING;
-- Create a trigger to prevent overlapping bookings for the same room

CREATE OR REPLACE FUNCTION public.check_room_availability_before_insert()
RETURNS TRIGGER AS $$
BEGIN
  -- We explicitly lock the room row to prevent race conditions during concurrent bookings
  PERFORM 1 FROM public.chambres WHERE id = NEW.chambre_id FOR UPDATE;

  IF EXISTS (
    SELECT 1 FROM public.reservations_chambres
    WHERE chambre_id = NEW.chambre_id
      AND (NEW.id IS NULL OR id != NEW.id)
      AND statut NOT IN ('annulee', 'refusee')
      AND (
        (NEW.date_arrivee < date_depart AND NEW.date_depart > date_arrivee)
      )
  ) THEN
    RAISE EXCEPTION 'This room is already booked for these dates.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS ensure_room_availability ON public.reservations_chambres;
CREATE TRIGGER ensure_room_availability
BEFORE INSERT OR UPDATE ON public.reservations_chambres
FOR EACH ROW
EXECUTE FUNCTION public.check_room_availability_before_insert();
-- 1. Add missing columns to reservations_tables
ALTER TABLE reservations_tables 
ADD COLUMN IF NOT EXISTS statut TEXT DEFAULT 'confirmee',
ADD COLUMN IF NOT EXISTS special_requests TEXT;

-- 2. Ensure we have one main restaurant
DO $$
DECLARE
    v_restaurant_id UUID;
BEGIN
    SELECT id INTO v_restaurant_id FROM restaurants LIMIT 1;
    
    IF v_restaurant_id IS NULL THEN
        INSERT INTO restaurants (nom, description, type_cuisine, capacite_totale, nombre_tables, horaires_ouverture, image_urls)
        VALUES (
            'L''Aura Noire',
            'A Michelin Star Experience featuring Algerian, Chinese, and Italian cuisines cooked by our 3 master chefs.',
            'Multi-Cuisine',
            100,
            20,
            '{"ouvre": "18:00", "ferme": "23:00"}',
            ARRAY['https://images.pexels.com/photos/262047/pexels-photo-262047.jpeg?auto=compress&cs=tinysrgb&w=800']
        ) RETURNING id INTO v_restaurant_id;

        -- Insert 20 tables for this restaurant
        FOR i IN 1..20 LOOP
            INSERT INTO tables_restaurant (numero_table, capacite, restaurant_id)
            VALUES (
                'T' || i,
                CASE WHEN i <= 5 THEN 2 WHEN i <= 15 THEN 4 ELSE 6 END, -- Mixture of 2, 4, 6 seaters
                v_restaurant_id
            );
        END LOOP;
    END IF;
END $$;

-- 3. Create an RPC to book a table safely avoiding double-booking
CREATE OR REPLACE FUNCTION book_restaurant_table(
    p_client_id UUID,
    p_date_reservation DATE,
    p_heure_reservation TIME,
    p_guests INTEGER,
    p_special_requests TEXT
) RETURNS JSON AS $$
DECLARE
    v_table_id UUID;
    v_reservation_id UUID;
    v_restaurant_id UUID;
BEGIN
    -- Get restaurant
    SELECT id INTO v_restaurant_id FROM restaurants LIMIT 1;

    -- Find an available table
    SELECT id INTO v_table_id
    FROM tables_restaurant tr
    WHERE tr.restaurant_id = v_restaurant_id
      AND tr.capacite >= p_guests
      AND NOT EXISTS (
          SELECT 1 FROM reservations_tables rt
          WHERE rt.table_id = tr.id
            AND rt.date_reservation = p_date_reservation
            AND rt.statut != 'annulee'
            AND (
                -- basic overlap logic: 2 hours
                rt.heure_reservation >= p_heure_reservation - INTERVAL '2 hours' 
                AND rt.heure_reservation <= p_heure_reservation + INTERVAL '2 hours'
            )
      )
    ORDER BY tr.capacite ASC
    LIMIT 1;

    IF v_table_id IS NULL THEN
        RETURN json_build_object('success', false, 'error', 'No tables available for ' || p_guests || ' guests at this time.');
    END IF;

    -- Insert reservation
    INSERT INTO reservations_tables (date_reservation, heure_reservation, nombre_adultes, client_id, table_id, special_requests, statut)
    VALUES (p_date_reservation, p_heure_reservation, p_guests, p_client_id, v_table_id, p_special_requests, 'confirmee')
    RETURNING id INTO v_reservation_id;

    RETURN json_build_object('success', true, 'reservation_id', v_reservation_id, 'table_id', v_table_id);
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
DO $$
DECLARE
    v_restaurant_id UUID;
BEGIN
    -- 1. Create the restaurant "Velora Palace"
    INSERT INTO restaurants (nom, description, type_cuisine, capacite_totale, nombre_tables, horaires_ouverture, image_urls)
    VALUES (
        'Velora Palace Restaurant',
        'A luxurious dining experience offering authentic Algerian and premium Japanese cuisine.',
        'Algerian & Japanese',
        200,
        50,
        '{"ouvre": "12:00", "ferme": "23:30"}',
        ARRAY['https://images.pexels.com/photos/1581384/pexels-photo-1581384.jpeg?auto=compress&cs=tinysrgb&w=800']
    ) RETURNING id INTO v_restaurant_id;

    -- 2. Insert 50 tables for this specific restaurant
    FOR i IN 1..50 LOOP
        INSERT INTO tables_restaurant (numero_table, capacite, restaurant_id)
        VALUES (
            'T' || i,
            CASE WHEN i <= 15 THEN 2 WHEN i <= 40 THEN 4 ELSE 6 END, -- 15 tables for 2, 25 tables for 4, 10 tables for 6
            v_restaurant_id
        );
    END LOOP;

    -- 3. Insert 20 Algerian Dishes

    -- 4. Insert 20 Japanese Dishes

END $$;
-- Enable Row-Level Security on the contient table to prevent public unauthorized access
ALTER TABLE contient ENABLE ROW LEVEL SECURITY;

-- Policy: Admins and Personnel can manage all order items
CREATE POLICY "Admins and Personnel can manage contient" ON contient
    FOR ALL USING (
        EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
    );

-- Policy: Clients can view their own order items
CREATE POLICY "Clients can view their own order items" ON contient
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM commandes_restaurant cr
            JOIN clients c ON c.id = cr.client_id
            WHERE cr.id = contient.commande_id AND c.utilisateur_id = auth.uid()
        )
    );

-- Policy: Clients can create their own order items
CREATE POLICY "Clients can create their own order items" ON contient
    FOR INSERT WITH CHECK (
        EXISTS (
            SELECT 1 FROM commandes_restaurant cr
            JOIN clients c ON c.id = cr.client_id
            WHERE cr.id = commande_id AND c.utilisateur_id = auth.uid()
        )
    );
-- Policies for tables_restaurant
CREATE POLICY "Anyone can view tables_restaurant" ON tables_restaurant
    FOR SELECT USING (true);

CREATE POLICY "Admins and Personnel can manage tables_restaurant" ON tables_restaurant
    FOR ALL USING (
        EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
    );

-- Policies for reservations_tables
CREATE POLICY "Admins and Personnel can manage all table reservations" ON reservations_tables
    FOR ALL USING (
        EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
    );

CREATE POLICY "Clients can view their own table reservations" ON reservations_tables
    FOR SELECT USING (
        EXISTS (SELECT 1 FROM clients WHERE id = reservations_tables.client_id AND utilisateur_id = auth.uid())
    );

CREATE POLICY "Clients can create their own table reservations" ON reservations_tables
    FOR INSERT WITH CHECK (
        EXISTS (SELECT 1 FROM clients WHERE id = client_id AND utilisateur_id = auth.uid())
    );

CREATE POLICY "Clients can update their own table reservations" ON reservations_tables
    FOR UPDATE USING (
        EXISTS (SELECT 1 FROM clients WHERE id = reservations_tables.client_id AND utilisateur_id = auth.uid())
    );
-- Change default status to en_attente for table reservations
ALTER TABLE reservations_tables ALTER COLUMN statut SET DEFAULT 'en_attente';

-- Update the RPC to use en_attente instead of confirmee
CREATE OR REPLACE FUNCTION book_restaurant_table(
    p_client_id UUID,
    p_date_reservation DATE,
    p_heure_reservation TIME,
    p_guests INTEGER,
    p_special_requests TEXT
) RETURNS JSON AS $$
DECLARE
    v_table_id UUID;
    v_reservation_id UUID;
    v_restaurant_id UUID;
BEGIN
    -- Get restaurant
    SELECT id INTO v_restaurant_id FROM restaurants LIMIT 1;

    -- Find an available table
    SELECT id INTO v_table_id
    FROM tables_restaurant tr
    WHERE tr.restaurant_id = v_restaurant_id
      AND tr.capacite >= p_guests
      AND NOT EXISTS (
          SELECT 1 FROM reservations_tables rt
          WHERE rt.table_id = tr.id
            AND rt.date_reservation = p_date_reservation
            AND rt.statut != 'annulee'
            AND (
                -- basic overlap logic: 2 hours
                rt.heure_reservation >= p_heure_reservation - INTERVAL '2 hours' 
                AND rt.heure_reservation <= p_heure_reservation + INTERVAL '2 hours'
            )
      )
    ORDER BY tr.capacite ASC
    LIMIT 1;

    IF v_table_id IS NULL THEN
        RETURN json_build_object('success', false, 'error', 'No tables available for ' || p_guests || ' guests at this time.');
    END IF;

    -- Insert reservation as pending (en_attente)
    INSERT INTO reservations_tables (date_reservation, heure_reservation, nombre_adultes, client_id, table_id, special_requests, statut)
    VALUES (p_date_reservation, p_heure_reservation, p_guests, p_client_id, v_table_id, p_special_requests, 'en_attente')
    RETURNING id INTO v_reservation_id;

    RETURN json_build_object('success', true, 'reservation_id', v_reservation_id, 'table_id', v_table_id);
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
-- Room Service Orders Enhancement
-- Add missing columns and RLS policies for commandes_restaurant

-- Add statut and numero_chambre columns if they don't exist
DO $$ 
BEGIN
  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'commandes_restaurant' AND column_name = 'statut') THEN
    ALTER TABLE commandes_restaurant ADD COLUMN statut TEXT DEFAULT 'en_attente';
  END IF;

  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'commandes_restaurant' AND column_name = 'numero_chambre') THEN
    ALTER TABLE commandes_restaurant ADD COLUMN numero_chambre TEXT;
  END IF;

  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'commandes_restaurant' AND column_name = 'reservation_chambre_id') THEN
    ALTER TABLE commandes_restaurant ADD COLUMN reservation_chambre_id UUID REFERENCES reservations_chambres(id) ON DELETE SET NULL;
  END IF;
END $$;

-- RLS Policies for commandes_restaurant

-- Clients can view their own orders
CREATE POLICY "Clients can view own orders" ON commandes_restaurant
  FOR SELECT USING (
    EXISTS (SELECT 1 FROM clients WHERE id = commandes_restaurant.client_id AND utilisateur_id = auth.uid())
  );

-- Clients can create their own orders
CREATE POLICY "Clients can create own orders" ON commandes_restaurant
  FOR INSERT WITH CHECK (
    EXISTS (SELECT 1 FROM clients WHERE id = client_id AND utilisateur_id = auth.uid())
  );

-- Admins and Personnel can manage all orders
CREATE POLICY "Staff can manage all orders" ON commandes_restaurant
  FOR ALL USING (
    EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN ('admin', 'personnel'))
  );

-- RLS Policies for paiements (if not already set)
DO $$
BEGIN
  -- Check if any policy exists for paiements
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'paiements') THEN
    EXECUTE 'CREATE POLICY "Clients can view own payments" ON paiements FOR SELECT USING (EXISTS (SELECT 1 FROM commandes_restaurant cr JOIN clients c ON c.id = cr.client_id WHERE cr.id = paiements.commande_id AND c.utilisateur_id = auth.uid()) OR EXISTS (SELECT 1 FROM reservations_chambres rc JOIN clients c ON c.id = rc.client_id WHERE rc.id = paiements.reservation_chambre_id AND c.utilisateur_id = auth.uid()))';
    EXECUTE 'CREATE POLICY "Clients can create payments" ON paiements FOR INSERT WITH CHECK (true)';
    EXECUTE 'CREATE POLICY "Staff can manage payments" ON paiements FOR ALL USING (EXISTS (SELECT 1 FROM utilisateurs WHERE id = auth.uid() AND role IN (''admin'', ''personnel'')))';
  END IF;
END $$;
-- Promo Codes table for Velora Palace
CREATE TABLE IF NOT EXISTS promo_codes (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    code TEXT UNIQUE NOT NULL,
    discount_percent INTEGER NOT NULL CHECK (discount_percent > 0 AND discount_percent <= 100),
    max_uses INTEGER NOT NULL DEFAULT 1,
    current_uses INTEGER NOT NULL DEFAULT 0,
    is_active BOOLEAN DEFAULT TRUE,
    description TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    expires_at TIMESTAMP WITH TIME ZONE
);

ALTER TABLE promo_codes ENABLE ROW LEVEL SECURITY;

-- Allow everyone to read active promo codes (for validation)
CREATE POLICY "Anyone can read promo codes" ON promo_codes
    FOR SELECT USING (true);

-- Only admins can insert/update/delete promo codes
CREATE POLICY "Admins can insert promo codes" ON promo_codes
    FOR INSERT WITH CHECK (
        EXISTS (
            SELECT 1 FROM utilisateurs
            WHERE id = auth.uid() AND role = 'admin'
        )
    );

CREATE POLICY "Admins can update promo codes" ON promo_codes
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM utilisateurs
            WHERE id = auth.uid() AND role = 'admin'
        )
    );

CREATE POLICY "Admins can delete promo codes" ON promo_codes
    FOR DELETE USING (
        EXISTS (
            SELECT 1 FROM utilisateurs
            WHERE id = auth.uid() AND role = 'admin'
        )
    );

-- Function to validate and apply a promo code
CREATE OR REPLACE FUNCTION validate_promo_code(p_code TEXT)
RETURNS TABLE(valid BOOLEAN, discount INTEGER, message TEXT) AS $$
DECLARE
    v_promo promo_codes%ROWTYPE;
BEGIN
    SELECT * INTO v_promo FROM promo_codes WHERE UPPER(code) = UPPER(p_code);
    
    IF NOT FOUND THEN
        RETURN QUERY SELECT false, 0, 'Invalid promo code'::TEXT;
        RETURN;
    END IF;
    
    IF NOT v_promo.is_active THEN
        RETURN QUERY SELECT false, 0, 'This promo code is no longer active'::TEXT;
        RETURN;
    END IF;
    
    IF v_promo.expires_at IS NOT NULL AND v_promo.expires_at < NOW() THEN
        RETURN QUERY SELECT false, 0, 'This promo code has expired'::TEXT;
        RETURN;
    END IF;
    
    IF v_promo.current_uses >= v_promo.max_uses THEN
        RETURN QUERY SELECT false, 0, 'This promo code has reached its usage limit'::TEXT;
        RETURN;
    END IF;
    
    RETURN QUERY SELECT true, v_promo.discount_percent, ('Discount of ' || v_promo.discount_percent || '% applied!')::TEXT;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to increment usage after booking
CREATE OR REPLACE FUNCTION use_promo_code(p_code TEXT)
RETURNS VOID AS $$
BEGIN
    UPDATE promo_codes
    SET current_uses = current_uses + 1
    WHERE UPPER(code) = UPPER(p_code)
      AND is_active = true
      AND current_uses < max_uses;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
-- Fix notifications: columns + RLS + RPC function

-- 1. Add missing columns
ALTER TABLE notifications 
  ADD COLUMN IF NOT EXISTS lu BOOLEAN DEFAULT FALSE,
  ADD COLUMN IF NOT EXISTS date_creation TIMESTAMP WITH TIME ZONE DEFAULT NOW();

-- 2. Drop ALL old policies
DROP POLICY IF EXISTS "Users can view own notifications" ON notifications;
DROP POLICY IF EXISTS "Users can update own notifications" ON notifications;
DROP POLICY IF EXISTS "Personnel can insert notifications" ON notifications;
DROP POLICY IF EXISTS "Admin full access to notifications" ON notifications;
DROP POLICY IF EXISTS "read_own_notifications" ON notifications;
DROP POLICY IF EXISTS "update_own_notifications" ON notifications;
DROP POLICY IF EXISTS "insert_notifications" ON notifications;
DROP POLICY IF EXISTS "delete_own_notifications" ON notifications;

-- 3. New RLS policies
CREATE POLICY "read_own_notifications" ON notifications
  FOR SELECT USING (utilisateur_id = auth.uid());

CREATE POLICY "update_own_notifications" ON notifications
  FOR UPDATE USING (utilisateur_id = auth.uid());

CREATE POLICY "insert_notifications" ON notifications
  FOR INSERT WITH CHECK (auth.uid() IS NOT NULL);

CREATE POLICY "delete_own_notifications" ON notifications
  FOR DELETE USING (utilisateur_id = auth.uid());

-- 4. SECURITY DEFINER function to bypass RLS for notification creation
CREATE OR REPLACE FUNCTION create_notification(
  p_utilisateur_id UUID,
  p_type TEXT,
  p_titre TEXT,
  p_message TEXT
) RETURNS void AS $$
BEGIN
  INSERT INTO notifications (utilisateur_id, type_notification, titre, message, lu, date_creation)
  VALUES (p_utilisateur_id, p_type, p_titre, p_message, FALSE, NOW());
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
